
$Dark-Shade :#1f2041;
$Dark-Shade75:rgba(31, 32, 65, 0.75);
$Dark-Shade50:rgba(31, 32, 65, 0.5);
$Dark-Shade05:rgba(31, 32, 65, 0.05);
$Purple:#BC9CFF;
$Green:#6FCF97;
$Gradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$GreenGradient:  linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
$White: #fff;
body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}