.header__nav-element{
    cursor: pointer;
    
}
.header__nav-element a{
    color:$Dark-Shade75;
	text-decoration: none;
}
.header__nav-element .material-icons{
    width:24px;
	height:17px;
	line-height: 17px;
    float:right;
}

@media all and (max-width: 1200px) {
	.header__nav-element{
        margin-bottom: 0px;
        margin-top: 13px;
       }
 }