.header__navigation{
   position:relative;
   display:flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   float:right;
   align-items: center;   
   flex-basis: 769px;
   z-index:1;
}