.checkboxes__heading-text {
font-family: 'Montserrat';
font-style: normal;
font-weight: bold;
font-size: 12px;
margin:0;
line-height: 15px;
/* identical to box height */
text-transform: uppercase;
margin-bottom: 7px;

/* Dark 100% */
color: #1F2041;
}