.range__price {
    height: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-align: right;
    text-transform: uppercase;
    
    /* Dark 50% */
    color: rgba(31, 32, 65, 0.5);
    float: right;
    margin:0;
}