-if(!range){range={priceMin:0,priceMax:20000}}
div(class="range")
    div(class="range__heading")
        p(class="cards__input-heading range__input-heading") диапазон цены
        p(class="range__price")
            span#price-min=range.priceMin
            |
            |- 
            span#price-max=range.priceMax
            input(class="range__price-input" type="number" readonly id="range__priceMin" name="range__priceMin" value=range.priceMin)
            input(class="range__price-input" type="number" readonly id="range__priceMax" name="range__priceMax" value=range.priceMax)
    div(class="range__slider")
