div(class="range")
    div(class="range__heading")
        p(class="cards__input-heading range__input-heading") диапазон цены
        p(class="range__price")
            span#price-min 0Р
            |
            |- 
            span#price-max 20 000Р
            input(class="range__price-input" type="number" readonly id="range__price-min" name="range__price-min" value="0")
            input(class="range__price-input" type="number" readonly id="range__price-max" name="range__price-max" value="20000")
    div(class="range__slider")
