.footer__copy{
    height:70px;
    display: flex;
    padding:0 140px;
    justify-content: space-between;
    align-items: center;
}

@media all and (max-width: 900px) {
    .footer__copy {
       padding:0 40px;
       text-align: center;
    }
}