.footer__text-bold{
font-family: 'Montserrat';
font-weight: bold;
font-size: 12px;
margin-bottom:1px;
line-height: 15px;
margin-top:4px;
/* identical to box height */

text-transform: uppercase;

/* Dark 100% */

color: #1F2041;
}