.footer__container{
    display:flex;
    flex-flow:column;
    justify-content: space-between;
    align-items: flex-start;
    text-align:left;
}

@media all and (max-width: 900px) {
    .footer__container {
       margin-top: 20px;
    }
}