.dropdown__button_less{
    &:after{
        content:"-";
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
    }
    opacity: 0.25;

}