
each room in correct
    -var n = 0;
    div(class = "cards cards_theme_room"  id = "room"+room.number)
        div(class="roomcard__image" style="background: url(./styles/img/roomcard_image-"+room.number +".png) no-repeat")
        div(class="roomcard__description")
            div(class="roomcard__textDiv")
                p(class="roomcard__roomnumber") №
                    span(class="roomcard__number")=room.number
                p(class="roomcard__text")
                    span(class="roomcard__number")=room.price + "Р "
                    | в сутки
            div(class="roomcard__rating")
                div(class="roomcard__stars")                
                    while n< room.stars
                        i(class ="material-icons md-24") star 
                        -n++;
                    while n< 5
                        i(class="material-icons md-24") star_border
                        -n++;
                p(class="roomcard__reply")
                    span(class="roomcard__number")=room.replies + " "
                    | Отзывов
