.roomcard__image {
    width:100%;
    height: 151.38px;
    float: left;
    background: url(img/image-350.png) no-repeat;
    background: url(img/image-352.png) no-repeat;
    background: url(img/image-444.png) no-repeat;
    background: url(img/image-450.png) no-repeat;
    background: url(img/image-666.png) no-repeat;
    background: url(img/image-678.png) no-repeat;
    background: url(img/image-740.png) no-repeat;
    background: url(img/image-840.png) no-repeat;
    background: url(img/image-856.png) no-repeat;
    background: url(img/image-888.png) no-repeat;
    background: url(img/image-980.png) no-repeat;
    background: url(img/image-982.png) no-repeat;
    background-size:cover;

}