div(class = "cards cards_theme_room")
    div(class="roomcard__image" )
    div(class="roomcard__description")
        div(class="roomcard__textDiv")
            p(class="roomcard__roomnumber") №
                span(class="roomcard__number")
            p(class="roomcard__text")
                span(class="roomcard__number")
                | в сутки
        div(class="roomcard__rating")
            div(class="roomcard__stars")                
                    i(class ="material-icons md-24") star 
                    i(class="material-icons md-24") star_border
            p(class="roomcard__reply")
            span(class="roomcard__number")
            | Отзывов
