.cards__button_theme_register{
    flex-basis: 196px;;
    height: 34px;
    background: $Gradient;
    color: $White;
}
.cards__button_theme_register p{
    letter-spacing: 1px;
    z-index:1;
    line-height: 14px;
    font-size:11px;
}