.cards__input{
    height:44px;
    padding-left:15px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    text-align:left;
    input{
        border:none;

    }
}
