.cards__material-icons{
    width: 44px;
    height: 44px;
    font-size: 24px;
    line-height: 24px;
    position: absolute;
    right:0;
    float:right;
    display: flex;
    align-items: center;
    justify-content: center;

}