$button:red;
.cards__button{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    border-radius: 22px;
    /* identical to box height */
    display:flex;
    text-transform: uppercase;
    align-items: center;
    cursor: pointer;
    flex-basis: 44px;
    justify-content: center;
    position: relative;

}
.cards__button p{
    font-weight: bold;
    text-align:center;
    margin:0;
}
