<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge") 
        link( rel="shortcut icon" href="./favicons/favicon.ico" type="image/x-icon")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(href='https://fonts.googleapis.com/css?family=Montserrat&display=swap' rel="stylesheet")
        link(href='https://fonts.googleapis.com/css?family=Open+Sans&display=swap' rel="stylesheet")
        link(rel="stylesheet" href="./fonts/font-awesome/css/all.min.css")
        link(href="./styles/login.css" rel="stylesheet")
        title Toxin
    body
        div(class="main-registration-background")
        include ../blocks/develop/header/header.pug
        main(class="login main_theme-registration")
            form(action="login" method="POST")
                div(class="cards cards_theme_log-in")
                    h2(class="cards__heading") Войти
                    div(class="registration__div")
                        div(class="cards__input")
                            input(class="cards__input-text" type = "text" name="login" id = "login-Email" placeholder="Email") 
                        div(class="cards__input")
                            input(class="cards__input-text" type = "password" name="password" id="login-password" placeholder="Пароль") 
                    p(class='cards__input-text error' style="color:red; display: none" )
                    button(type="submit" class="cards__button cards__button_theme_filled" id="log_in")
                        p войти
                        i(class="cards__material-icons material-icons md-24") arrow_forward
                    div(class="registration__log-in")
                        p(class="registration__log-in-text") Нет аккаунта на Toxin?
                        a(class="cards__button" class="cards__button_theme_empty button_theme_registration" href="registration")
                            p создать
        include ../blocks/develop/footer/footer.pug
    script(src="./scripts/loginAjax.js")
    script(src="./scripts/login.min.js")
    

