body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

.main-registration-background {
	width: 100%;
	min-height: 772px;
	max-height: 100%;
	position: absolute;
	background: url(img/main-registration-background_registration__back.png) no-repeat;
	background-size: cover;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

.header {
	display: flex;
	flex-flow: row nowrap;
	background-color: #fff;
	padding: 30px 0;
	width: 100%;
	color: rgba(31, 32, 65, .75);
	font-size: 14px;
	line-height: 17px;
	font-family: "Montserrat";
	align-items: center;
	height: 70px;
	z-index: 1;
	box-shadow: 0 10px 20px rgba(31, 32, 65, .05);
	z-index: 10;
	padding: 0 140px 0 140px;
	position: relative;
	justify-content: space-between;
}

.header a {
	text-decoration: none;
}

.header ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

@media all and (max-width: 1200px) {
	.header {
		justify-content: center;
	}
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

.header__menuButton {
	display: none;
	position: absolute;
	right: 20px;
	font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
	font-weight: 900;
	cursor: pointer;
}

@media all and (max-width: 1200px) {
	.header__menuButton {
		display: block;
	}
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

.header__filtersButton {
	display: none;
	position: absolute;
	left: 20px;
	font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
	font-weight: 900;
	cursor: pointer;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

.header__navigation {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	float: right;
	align-items: center;
	flex-basis: 769px;
	z-index: 1;
	transition: all ease-in-out .2s;
}

@media all and (max-width: 1200px) {
	.header__navigation {
		max-height: 0;
		padding: 0;
		overflow: hidden;
		flex-flow: column;
		flex-basis: auto;
		position: absolute;
		top: 80px;
		background: #fff;
		right: 10px;
		align-items: baseline;
		border-radius: 8px;
		box-shadow: 0 5px 8px rgba(0, 0, 0, .2);
	}

	.header__navigation_active {
		padding: 15px;
		max-height: 280px;
	}
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

.header__nav-element {
	cursor: pointer;
}

.header__nav-element a {
	color: rgba(31, 32, 65, .75);
	text-decoration: none;
}

.header__nav-element .material-icons {
	width: 24px;
	height: 17px;
	line-height: 17px;
	float: right;
}

@media all and (max-width: 1200px) {
	.header__nav-element {
		margin-bottom: 0;
		margin-top: 13px;
	}
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

.header__dropdown {
	height: 17px;
	transition: height .2s ease-in-out;
	overflow: hidden;
}

.header__dropdown:hover {
	height: 100%;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

.cards__material-icons {
	width: 44px;
	height: 44px;
	font-size: 24px;
	line-height: 24px;
	position: absolute;
	right: 0;
	float: right;
	display: flex;
	align-items: center;
	justify-content: center;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

.header .header__log-in {
	flex-basis: 87px;
	height: 32px;
}

@media all and (max-width: 1200px) {
	.header .header__log-in {
		flex-basis: auto;
		padding: 10px;
	}
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

.header .header__registration {
	flex-basis: 196px;
	height: 34px;
}

@media all and (max-width: 1200px) {
	.header .header__registration {
		flex-basis: auto;
		padding: 10px;
	}
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

.cards__button {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	border-radius: 22px;
	/* identical to box height */
	display: flex;
	text-transform: uppercase;
	align-items: center;
	cursor: pointer;
	flex-basis: 44px;
	justify-content: center;
	position: relative;
}

.cards__button p {
	font-weight: bold;
	text-align: center;
	margin: 0;
}

@charset "utf-8";

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

.cards__button_theme_empty {
	position: relative;
	/* identical to box height */
	text-transform: uppercase;
	color: #bc9cff;
	background: #fff;
	border: solid 2px transparent;
	/* !importanté */
	border-radius: 22px;
	background-clip: padding-box;
	transition: all .3s ease-in-out;
}

.cards__button_theme_empty p {
	letter-spacing: 1px;
	z-index: 1;
	line-height: 14px;
	font-size: 11px;
}

.cards__button_theme_empty:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	margin: -2px;
	border-radius: inherit;
	background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}

.cards__button_theme_empty:after {
	z-index: 0;
	content: "";
	position: absolute;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: inherit;
	transition: all .3s ease-in-out;
	opacity: 0;
	background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}

.cards__button_theme_empty:hover {
	color: #fff;
}

.cards__button_theme_empty:hover:after {
	opacity: 1;
}

@charset "utf-8";

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

.cards__button_theme_filled {
	position: relative;
	/* identical to box height */
	text-transform: uppercase;
	color: #fff;
	background: #fff;
	border: solid 2px transparent;
	/* !importanté */
	border-radius: 22px;
	background-clip: padding-box;
	transition: all .3s ease-in-out;
}

.cards__button_theme_filled p {
	letter-spacing: 1px;
	z-index: 1;
	line-height: 14px;
	font-size: 11px;
}

.cards__button_theme_filled i {
	z-index: 1;
}

.cards__button_theme_filled:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	margin: -2px;
	border-radius: inherit;
	background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}

.cards__button_theme_filled:after {
	z-index: 0;
	content: "";
	position: absolute;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: inherit;
	transition: all .3s ease-in-out;
	opacity: 1;
	background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}

.cards__button_theme_filled:hover {
	color: #bc9cff;
}

.cards__button_theme_filled:hover:after {
	opacity: 0;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

.main {
	display: block;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

.main_theme-registration {
	width: 100%;
	height: 702px;
	position: relative;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

.cards {
	padding: 39px 29px 30px 29px;
	background: #fff;
	border: 1px solid rgba(0, 0, 0, .12);
	box-sizing: border-box;
	box-shadow: 0 0px 25px rgba(0, 0, 0, .2);
	border-radius: 4px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	color: rgba(31, 32, 65, .5);
	text-decoration: none;
	max-width: 100%;
}

.cards a {
	text-decoration: none;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

.cards_theme_registration {
	position: absolute;
	width: 380px;
	height: 646px;
	left: calc(50% - 190px);
	top: 100px;
	cursor: pointer;
	z-index: 0;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

.cards__heading {
	font-family: "Open Sans";
	margin: 0;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	color: #1f2041;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

.registration__div .cards__input,
.registration__div .radiobuttons {
	margin-bottom: 10px;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

.footer__text {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(31, 32, 65, .75);
	line-height: 18px;
	margin-top: 20px;
	text-decoration: none;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

.footer__text_copy {
	margin: 0;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

.footer__input {
	width: 260px;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

.cards__input {
	height: 44px;
	padding-left: 15px;
	border: 1px solid rgba(31, 32, 65, .25);
	box-sizing: border-box;
	border-radius: 4px;
	cursor: pointer;
	display: flex;
	align-items: center;
	position: relative;
	text-align: left;
}

.cards__input input {
	border: none;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

.cards__input-text {
	color: rgba(31, 32, 65, .75);
	font-family: "Montserrat";
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	margin: 0;
	line-height: 18px;
	width: 90%;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

.radiobuttons {
	display: flex;
	flex-flow: row;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

.radiobuttons__label {
	display: flex;
	flex-flow: row nowrap;
	position: relative;
	cursor: pointer;
	margin-right: 20px;
	float: left;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

.radiobuttons__input {
	display: none;
}

.radiobuttons__input:checked + .radiobuttons__radio:after {
	display: block;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

.radiobuttons__radio {
	margin: 0;
	width: 20px;
	height: 20px;
	border: 1px solid rgba(31, 32, 65, .25);
	border-radius: 10px;
	position: relative;
}

.radiobuttons__radio:after {
	content: "";
	position: absolute;
	top: 3px;
	left: 3px;
	width: 12px;
	height: 12px;
	background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
	border-radius: 10px;
	display: none;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

.radiobuttons__text {
	margin: 0;
	float: right;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: rgba(31, 32, 65, .5);
	margin-left: 10px;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

.datepicker button {
	cursor: pointer;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

.cards__date-input {
	width: 100%;
	height: 100%;
	height: 24px;
	text-align: left;
	border-radius: 4px;
	font-family: "Montserrat";
	position: relative;
	z-index: 0;
	z-index: -1;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

.cards__input-heading {
	height: 15px;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	color: #1f2041;
	margin: 0;
	display: flex;
	position: absolute;
	top: -21px;
	left: -1px;
	text-transform: uppercase;
	font-family: "Open Sans";
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

.toggle {
	display: flex;
	flex-flow: row nowrap;
	margin-top: 12px;
	position: relative;
	cursor: pointer;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

.toggle__input {
	display: none;
}

.toggle__input:checked + .toggle__checkbox {
	opacity: 1;
}

.toggle__input:checked + .toggle__checkbox:after {
	left: 24px;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

.toggle__checkbox {
	margin: 0;
	width: 40px;
	height: 20px;
	border: 1px solid rgba(31, 32, 65, .25);
	border-radius: 10px;
	position: relative;
	opacity: .25;
	transition: all .2s ease-in-out;
}

.toggle__checkbox:after {
	content: "";
	position: absolute;
	top: 3px;
	right: 24px;
	width: 12px;
	height: 12px;
	background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
	border-radius: 10px;
	transition: all .2s ease-in-out;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

.toggle__text {
	margin: 0;
	float: right;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: rgba(31, 32, 65, .5);
	margin-left: 10px;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

.registration__log-in {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

.registration__log-in-text {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	height: 18px;
	color: #000;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

.button_theme_registration {
	width: 99px;
	height: 44px;
}

.button_theme_registration p {
	width: 99px;
}

@import url(fonts/fa-solid-900.woff2);

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

.footer {
	background: #fff;
	height: 443px;
	box-shadow: 0 -1px 0px rgba(31, 32, 65, .1);
}

@media all and (max-width: 450px) {
	.footer {
		height: auto;
	}
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

.footer__main {
	background: #fff;
	width: 100%;
	height: 372px;
	padding: 100px 140px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

@media all and (max-width: 1200px) {
	.footer__main {
		padding: 20px 40px;
	}
}

@media all and (max-width: 900px) {
	.footer__main {
		flex-flow: column;
		height: auto;
		flex-flow: row;
		flex-wrap: wrap;
	}
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

.footer__container {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	align-items: flex-start;
	text-align: left;
}

@media all and (max-width: 900px) {
	.footer__container {
		margin-top: 20px;
	}
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

.footer__logo {
	height: 132px;
	width: 260px;
}

@media all and (max-width: 900px) {
	.footer__logo {
		height: auto;
	}
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

.footer__text-logo {
	line-height: 24px;
	margin: 0;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

.footer__text-bold {
	font-family: "Montserrat";
	font-weight: bold;
	font-size: 12px;
	margin-bottom: 1px;
	line-height: 15px;
	margin-top: 4px;
	/* identical to box height */
	text-transform: uppercase;
	/* Dark 100% */
	color: #1f2041;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

.footer__container-links {
	width: 160px;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

.footer__text-description {
	line-height: 24px;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

.footer__copy {
	height: 70px;
	display: flex;
	padding: 0 140px;
	justify-content: space-between;
	align-items: center;
}

@media all and (max-width: 900px) {
	.footer__copy {
		padding: 0 40px;
		text-align: center;
	}
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.a {
	text-decoration: none;
}
